<div *ngFor="let color of colors">
    <panel *ngIf="color !== 'red'" [color]="color" (panelClicked)="panelClicked()"></panel>
</div>

<br>

<div [ngSwitch]="somename">
    <panel *ngSwitchCase="'black'" [color]="'black'" (panelClicked)="panelClicked()"></panel>
    <panel *ngSwitchCase="'blue'" [color]="'blue'" (panelClicked)="panelClicked()"></panel>
    <panel *ngSwitchDefault [color]="'red'" (panelClicked)="panelClicked()"></panel>
</div>

<br>

{{ 'test' | lowercase }}

<br>

<button routerLink="/first">First</button>
<button routerLink="/second">Second</button>

<router-outlet></router-outlet>